@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@{ var user = await UserManager.GetUserAsync(User);}

@{  ViewData["Title"] = "Home Page";
}
</br>
<div id="myCarousel" class="jumbotron center-block">
        <p class="jtrontxt">Chore Tracker!
        </br>
    <br/>
      &#8595  New users  &#8595
        </br>
        </p>
    <div class="carousel-inner" role="listbox">
            <div class="carousel-caption" role="option">
            </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Parents!</h2>
        <ul>

            <li>1) Please Start by clicking the Family Profile Link and create a new Family Profile</li>
            <li>2) Register yourself as a user (have your family Id handy)
            <li>3) Setup the profiles for family members and be sure to include your family Id.</li>
            <li>4) Enjoy!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Kids!</h2>
        <ul>
            <li>If you do not have a profile...</br>
            ...Hang tight and wait for further instructions!</li>
            <li>If you have a profile...</br>
            ...Please log in and check your chores!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Furthermore...</h2>
        <ul>
            <li><a href="https://github.com/mateusvanhalen/Mattstone" target="_blank">See GitHub info</a></li>
            <li><a href="https://mateusvanhalen.herokuapp.com/index.html" target="_blank">About The Creator</a></li>
        </ul>
    </div>
</div>
