/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:gainsboro;
}
.navbar-inverse {
    background-color: #0267b1;
}

.jumbofont {
    font-size:45px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 110px;
}

.ctheader {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    text-align: center;
}

.jumbotron {
    align-items: center;
    padding: inherit;
}

.jtrontxt {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-bottom: 10px;
    font-size: 5em;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 200;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    font-family: 'Amatic SC', cursive;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
