@model Mattstone.Models.ViewModels.DayDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Day.DayName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day.Chores)
        </dt>

        @foreach (var item in Model.Chores)
        {
            <div class="dl-horizontal">
                <dd>
                    @item.ChoreName
             </dd>
             </div>}
        @foreach (var item in Model.Chores)
        { 
            <div class="dl-horizontal">
                <dd>
                    @item.User
                </dd>
             </div>
                }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
