@model IEnumerable<Mattstone.Models.Day>

@{
    ViewData["Title"] = "Index";
}

<h2>Days</h2>
    
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DayId">Click for Chores</a> 
            </td>
        </tr>
}
    </tbody>
</table>
