@model IEnumerable<Mattstone.Models.Day>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DayId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
